@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", "sans-serif";
  --background-primary: #0d1821;
  --text-primary: #f2f9fe;
  --text-secondary: #dcdcdc;
  --text-accent: #4e5261;
  --border-radius: 16px;
}

@layer base {
  html {
    font-family: var(--font-jakarta);
    overflow-y: scroll; /* Always show scrollbar */
  }

  body {
    background-color: var(--background-primary);
    color: var(--text-primary);
  }

  h1,
  h2 {
    @apply tracking-tight;
  }

  p {
    @apply text-base;
  }
}

@layer components {
  .btn-primary {
  }

  .btn-secondary {
    @apply bg-white/10 outline-1 outline-white/40 outline-offset-[-1px] px-7 py-2.5 rounded-[var(--border-radius)] transition-all duration-200 hover:bg-white/20 hover:outline-white/60;
  }
}
