@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-jakarta: "Plus Jakarta Sans", "sans-serif";
  --color-primary: #0d1821;
  --color-secondary: #f2f9fe;
  --text-primary: #f2f9fe;
  --text-secondary: #dcdcdc;
  --text-accent: #4e5261;
  --border-radius: 1rem;
}

@layer base {
  html {
    font-family: var(--font-jakarta);
    overflow-y: scroll; /* Always show scrollbar */
  }

  body {
    background-color: var(--color-secondary);
    color: var(--text-primary);
  }

  h1,
  h2 {
    @apply tracking-tight;
  }

  p {
    @apply text-base;
  }
}

@layer components {
  .btn-primary {
    @apply sm:px-9 px-8 py-3.5 sm:text-xl text-lg rounded-[var(--border-radius)] bg-[#3CACD2] text-[var(--color-primary)] transition-all duration-200 hover:bg-[#4BC8D0] hover:outline hover:outline-1 hover:outline-[#3CACD2]/40 hover:outline-offset-[-1px];
  }

  .btn-secondary {
    @apply bg-white/10 outline-1 outline-white/40 outline-offset-[-1px] px-7 py-2.5 rounded-[var(--border-radius)] transition-all duration-200 hover:bg-[#3CACD2] hover:outline-none hover:text-[var(--color-primary)];
  }
}
